@use "styles/abstracts" as *

.button
  @extend %button

  position: relative

  &__text
    pointer-events: none

  &.--is-secondary
    color: $c-text
    box-shadow: 0 0 0 2px $c-primary inset

    &:hover
      color: $c-primary
      box-shadow: 0 0 1px 0 $c-primary inset, 0 0 2px 3px $c-primary

  &.--is-loading
    pointer-events: none
    box-shadow: 0 0 40px 40px $c-primary inset, 0 0 0 0 $c-primary // to fix ios error where disabled buttons style have the hover style

    .button__text
      visibility: hidden

    &:after
      content: ""
      position: absolute
      width: 32px
      height: 32px
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
      border: 4px solid transparent
      border-top-color: #ffffff
      border-radius: 50%
      animation: spin 1s ease infinite
