@use "styles/abstracts" as *

.button
  @extend %button

  position: relative

  &[disabled]
    pointer-events: none

  &.--is-loading

    .button__text
      visibility: hidden

    &:after
      content: ""
      position: absolute
      width: 32px
      height: 32px
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
      border: 4px solid transparent
      border-top-color: #ffffff
      border-radius: 50%
      animation: spin 1s ease infinite
