@use "styles/abstracts" as *

.to-top-button
  padding: 0 1rem
  border-radius: 50%

  box-shadow: none
  border: 2px solid $c-primary
  color: $c-text
  background: $c-background

  opacity: 0
  pointer-events: none
  transition: all 200ms ease-out

  margin-right: $navbar-toggler-padding-x

  +from($max-page-width)
    margin-right: 0

  &.--is-visible
    opacity: 1
    pointer-events: all

  &:hover
    box-shadow: 0 0 1px 2px $c-primary

    svg
      transform: translateY(-3px)

  svg
    transition: transform 200ms ease-out
