@use "styles/abstracts" as *

$blogpost-block-margin-md: $md-gap
$blogpost-block-margin-lg: $xl-gap

.blogpost-block
  > *
    word-break: break-word

  h2
    padding-top: $approxSpaceFromTop
    margin-top: -$approxSpaceFromTop
    margin-bottom: $blogpost-block-margin-lg

  h3
    margin-bottom: $blogpost-block-margin-md
    margin-top: $blogpost-block-margin-lg

  hr
    margin: $hr-margin-bottom 0

  code
    color: $c-text
    background: $c-light-border

  pre
    margin: $blogpost-block-margin-md 0 $blogpost-block-margin-lg !important

  img
    margin-top: $blogpost-block-margin-md !important
    padding-bottom: $blogpost-block-margin-lg !important

  .highlight-box
    margin: $blogpost-block-margin-lg 0

  &:last-child
    hr
      display: none
