@use "styles/abstracts" as *

$blogpost-block-margin-md: $md-gap
$blogpost-block-margin-lg: $xl-gap
$blockquote-stripe-width: 10px

.blogpost-block
  border: 1px solid $c-text
  padding: $xl-gap $lg-gap
  border-radius: 10px
  background: $c-blog-block
  word-break: break-word

  +from(md)
    padding: $xl-gap

  &:not(:last-child)
    margin-bottom: $xl-gap

  > *:last-child
    margin-bottom: 0 !important

  h2
    padding-top: 150px
    margin-top: -150px
    margin-bottom: $blogpost-block-margin-lg

  h3
    margin-bottom: $blogpost-block-margin-md

  h4
    margin-bottom: $blogpost-block-margin-md
    margin-top: $blogpost-block-margin-lg

  hr
    margin-top: $hr-margin-bottom
    margin-bottom: $hr-margin-bottom

  code
    color: $c-text
    background: $c-light-border

  pre
    margin: $blogpost-block-margin-md 0 $blogpost-block-margin-lg !important

  > div:not([class]) // next.js image component
    margin-top: $blogpost-block-margin-md !important

    &:not(:last-child)
      margin-bottom: $blogpost-block-margin-lg !important

  ul + div:not([class])
    margin-top: $blogpost-block-margin-lg !important

  .highlight-box
    margin: $blogpost-block-margin-lg 0

  blockquote
    background: $c-background
    border-left: $blockquote-stripe-width solid $c-primary
    margin: $blogpost-block-margin-lg 0
    padding: $blogpost-block-margin-md 2*$blockquote-stripe-width $blogpost-block-margin-md $blockquote-stripe-width
    font-style: italic

    &:before
      content: open-quote
      font-style: normal
      color: $c-pale-text
      font-size: 4rem
      line-height: 0
      margin-right: 0.25em
      vertical-align: -0.45em
