@keyframes slideInFromLeft
  from
    transform: translateX(-20px)
    opacity: 0
  to
    transform: none
    opacity: 1

@keyframes slideInFromRight
  from
    transform: translateX(20px)
    opacity: 0
  to
    transform: none
    opacity: 1

@keyframes slideInFromBelow
  from
    transform: translateY(150px)
    opacity: 0
  to
    transform: none
    opacity: 1

@keyframes slideInFromLeftHard
  from
    transform: translateX(-150px)
    opacity: 0
  to
    transform: none
    opacity: 1

@keyframes scaleIn
  from
    transform: scale(0.7)
  to
    transform: none

@keyframes spin
  0%
    transform: rotate(0turn)
  100%
    transform: rotate(1turn)



