@use "colors" as *

%link
  font-weight: bold
  text-decoration: none
  color: $c-primary !important

  &:hover
    text-decoration: underline
    color: $c-text !important

  &:focus
    color: $c-text !important

%invisible-label
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

