@use "colors" as *

%link
  font-weight: bold
  text-decoration: none
  color: $primary !important

  &:hover
    text-decoration: underline
    color: $text !important

  &:focus
    color: $text !important

