@use "colors" as *
@use "variables" as *

%gradient-underline
  background-image: linear-gradient(90deg, $c-primary, $c-primary-light)
  background-size: 100% 3px
  background-repeat: no-repeat
  background-position: left bottom
  transition: background-size 300ms ease-out

%link
  font-weight: bold
  text-decoration: none
  color: $c-primary !important
  @extend %gradient-underline
  background-size: 0 3px

  &:hover
    background-size: 100% 3px
    color: $c-text !important

  &:focus
    color: $c-text !important

%sr-only
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

%button-remove-style
  background: none
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

%input-remove-style
  appearance: none
  border: none
  box-shadow: none
  // outline is okay

%button-style
  @extend %button-remove-style

  color: white
  line-height: 45px
  text-decoration: none
  text-transform: uppercase
  padding: 0 $xl-gap
  border-radius: 34px
  border-color: $c-primary
  transition: all 200ms ease-in-out
  box-shadow: 0 0 40px 40px $c-primary inset, 0 0 0 0 $c-primary

  &:hover
    color: $c-text
    box-shadow: 0 0 10px 0 $c-primary inset, 0 0 2px 3px $c-primary

