@use "styles/abstracts/mixins" as m
@use "styles/abstracts/colors" as c

$nprogress-height: 20px
$footer-min-visible-height: 10px
$max-page-width: 1600px
$max-width-fade-area-width: 200px

.page
  max-width: $max-page-width
  margin: 0 auto

.layout
  display: grid
  grid-template-areas: "nprogress" "navbar" "content" "footer"
  min-height: 100vh
  grid-template-rows: auto auto 1fr auto
  background: c.$background
  position: relative

  //&:before
  //  content: ""
  //  width: $max-width-fade-area-width
  //  height: 100%
  //  position: absolute
  //  left: -$max-width-fade-area-width
  //  background: linear-gradient(90deg, c.$background-pale 0%, c.$background 100%)
  //
  //&:after
  //  content: ""
  //  width: $max-width-fade-area-width
  //  height: 100%
  //  position: absolute
  //  right: -$max-width-fade-area-width
  //  background: linear-gradient(90deg, c.$background 0%, c.$background-pale 100%)

  > *
    border: 1px solid red

.content
  grid-area: content

.navbar
  grid-area: navbar
  position: sticky
  top: $nprogress-height
  background: inherit

.footer
  grid-area: footer
  height: 100px

.nprogress
  grid-area: nprogress
  height: $nprogress-height
  position: sticky
  top: 0
  background: inherit

.content, .navbar, .footer
  padding: 0 1rem

