@use "styles/abstracts" as *

.page
  display: grid
  grid-template-areas: "nprogress" "navbar" "breadcrumbs" "content" "scroll-up" "footer"
  min-height: 100vh
  grid-template-rows: auto auto auto 1fr auto
  background: $c-background
  gap: $nprogress-height

  &__content
    grid-area: content
    display: grid
    justify-items: center
    align-items: start

    > div:not([class]) // next.js error div
      width: 100%

  &__navbar
    grid-area: navbar
    position: sticky
    top: $nprogress-height
    background: inherit
    font-size: 1.3rem
    z-index: 2 // to make collapse overlap breadcrumbs

  &__breadcrumbs
    grid-area: breadcrumbs

  &__footer
    grid-area: footer

  &__scroll-up
    grid-area: scroll-up

    display: flex
    justify-content: flex-end

    position: sticky
    bottom: $xl-gap
    right: 0

  &__progress
    grid-area: nprogress
    height: $nprogress-height
    position: sticky
    top: 0
    background: inherit
    margin-top: -$nprogress-height // to not have grid gap + height of nprogress

  &__bottom-waves
    height: 100px
    position: relative

  &__content, &__navbar, &__footer, &__scroll-up
    padding: 0 $layout-x-gap

  &__breadcrumbs
    padding: 0 $layout-x-gap 0.5rem $layout-x-gap

  &__content, &__navbar, &__footer, &__breadcrumbs, &__scroll-up
    width: 100%
    max-width: $max-page-width
    margin: 0 auto

  &__progress, &__breadcrumbs
    z-index: 1

