html,
body
  padding: 0
  margin: 0

a
  color: inherit
  text-decoration: none


*
  box-sizing: border-box

#__next
  background: linear-gradient(90deg, $background 0%, $background-pale 50%, $background 100%)
