@use "styles/abstracts" as *

.portfolio-item
  @extend %common-card

  +fadeIn(translateX(-150px))

  display: grid
  grid-template-areas: "name" "tags" "image" "appetizer" "action"
  gap: $sm-gap
  align-items: center

  +from(md)
    grid-template-areas: "image name" "image tags" "image appetizer" "image action"
    grid-template-rows: auto auto 1fr auto
    grid-template-columns: 1fr 1fr
    row-gap: $lg-gap
    column-gap: $xl-gap
    padding: 30px
    box-shadow: 0 0 20px -12px $c-text

  &__name
    grid-area: name

  &__tags
    grid-area: tags
    overflow-x: auto
    display: none

    +from(md)
      display: flex
      gap: $md-gap

    .portfolio-tag
      +tag

  &__image
    grid-area: image
    position: relative

  &__appetizer
    grid-area: appetizer
    max-height: 250px
    overflow-y: auto
    height: 100%

  &__action
    grid-area: action
    text-align: center

    +from(md)
      text-align: left



