@use "styles/abstracts" as *

.link
  @extend %link

  &:hover
    svg
      color: $c-text

  &.--has-external-indicator
    display: inline-flex
    align-items: center
    flex-wrap: wrap
    gap: $sm-gap


