@use "styles/abstracts" as *

$collapse-border-width: 1px
$collapse-right: calc(#{$layout-x-gap} + #{$collapse-border-width})

.navbar-collapse
  position: fixed
  right: $collapse-right
  transform: translateX(0)
  border-radius: 5px
  z-index: 1
  transition: transform 0.4s ease-out, opacity 0.2s ease-out
  background: $c-background
  border: $collapse-border-width solid $c-light-border

  +from(md)
    position: static
    justify-content: flex-end
    border: none
    box-shadow: none

.navbar-nav
  padding: 0 0.75rem
  align-items: flex-end

  > *:last-child
    padding-right: 0 !important

  +from(md)
    flex-direction: row
    padding: 0
    align-items: center

.nav-link
  &.--collapsed-only
    +from(md)
      display: none

.navbar-collapse
  &:not(.show)
    display: block
    transform: translateX(calc(100% + #{$collapse-right}))

    +from(md)
      transform: none
