@use "styles/abstracts" as *

.breadcrumbs
  display: flex
  align-items: center
  font-size: 0.9rem
  position: sticky
  background: $c-background
  overflow-y: auto
  // because we don't want a grid gap between nav and breadcrumbs
  margin-top: -$nprogress-height

  +gap(sm, false)

  > *
    flex-shrink: 0
